body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Светлый фон для контраста */
}

.toolbar {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; /* Позволяет кнопкам переноситься на новую строку при необходимости */
    justify-content: center; /* Центрируем кнопки в панели инструментов */
}

button {
    margin: 5px; /* Уменьшаем отступы между кнопками */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

button:hover {
    background-color: #45a049; /* Более темный зеленый при наведении */
}

input[type="color"], input[type="range"], select {
    margin-left: 10px; /* Отступ слева для элементов управления */
}

canvas {
    border: 1px solid #000;
    background-color: #ffffff; /* Белый фон канваса для лучшей видимости */
}
@media (max-width: 768px) { 
    body { padding: 10px; 
    }
    
    .toolbar {
        flex-direction: column; /* Изменяем направление на колонку для мобильных */
        margin: 10px 0; /* Уменьшаем отступы для панели инструментов */
    }
    
    button {
        width: 100%; /* Кнопки занимают всю ширину */
        margin: 5px 0; /* Увеличиваем отступы между кнопками */
    }
    
    canvas {
        max-width: 100%; /* Канвас занимает всю ширину экрана */
        height: auto; /* Автоматическая высота для сохранения пропорций */
    }
    
    input[type="color"], input[type="range"], select {
        width: 100%; /* Элементы управления занимают всю ширину */
        margin: 5px 0; /* Увеличиваем отступы между элементами управления */
    }

}
